<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Let's play!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <section class="hero is-info is-fullheight">
      <div class="hero-body">
        <div class="container">

          <div class="columns is-centered" v-show="mode == 'login'">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
              <form class="box">
                <div class="tabs is-centered">
                  <ul>
                    <li v-bind:class="{ 'is-active': start_tab == 'join' }"><a v-on:click="start_tab = 'join'">Join</a>
                    </li>
                    <li v-bind:class="{ 'is-active': start_tab == 'create' }"><a
                        v-on:click="start_tab = 'create'">Create</a></li>
                  </ul>
                </div>
                <div v-show="(start_tab == 'join')">
                  <div class="field">
                    <label for="" class="label">Room ID</label>
                    <div class="control has-icons-left">
                      <input type="text" placeholder="XYEX" v-model="room_id_player" class="input">
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field is-fullwi8dth column">
                    <a class="button is-success is-fullwidth" v-on:click="join()">
                      Join a room
                    </a>
                  </div>
                </div>
                <div v-show="(start_tab == 'create')">
                  <div class="field is-fullwidth column">
                    <a class="button is-success is-fullwidth" v-on:click="create()">
                      Create a room
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="columns is-centered" v-show="mode == 'host'">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
              <div class="box">
                <div class="field">Room ID: {{room_id_host}}</div>
                <div class="field">Players: {{players}}</div>
                <div class="field">Accept more players: {{accept_players}}</div>
                <div class="field">
                  <label class="label">Max players</label>
                  <div class="control has-icons-left">
                    <input type="text" placeholder="8" v-model="max_players" class="input">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <a class="field button is-success is-fullwidth" v-on:click="game.prepare(max_players)">
                  Prepare
                </a>
                <a class="field button is-success is-fullwidth" v-on:click="game.start()">
                  Start
                </a>
                <div class="field">
                  <label class="label">To: </label>
                  <div class="control has-icons-left">
                    <input type="text" placeholder="[]" v-model="data_to_host" class="input">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Input str:</label>
                  <div class="control has-icons-left">
                    <input type="text" placeholder="{'some': 'data'}" v-model="data_input_host" class="input">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <a class="field button is-success is-fullwidth"
                  v-on:click="game.to_str(JSON.parse(data_to_host), data_input_host)">
                  Send as String
                </a>
                <a class="field button is-success is-fullwidth"
                  v-on:click="game.to_cbor(JSON.parse(data_to_host), data_input_host)">
                  Send as CBOR
                </a>
                <a class="field button is-success is-fullwidth" v-on:click="stop()">
                  Stop
                </a>
              </div>
            </div>
          </div>

          <div class="columns is-centered" v-show="mode == 'player'">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
              <div class="box">
                <div class="field">
                  <label class="label">Input</label>
                  <div class="control has-icons-left">
                    <input type="text" placeholder="{'some': 'data'}" v-model="data_input_player" class="input">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <a class="button is-success is-fullwidth" v-on:click="game.send(data_input_player)">
                    Send as string
                  </a>
                </div>
                <div class="field">
                  <a class="button is-success is-fullwidth" v-on:click="game.send_cbor(data_input_player)">
                    Send as CBOR
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="cbor.js"></script>
  <script src="app.js"></script>
  <script src="host.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>
</body>

</html>
